<div class="container">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="type">Type</label>
      <input
        formControlName="typePresta"
        type="text"
        class="form-control"
        id="type"
      />
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <input
        formControlName="client"
        type="text"
        class="form-control"
        id="client"
      />
    </div>

    <div class="form-group">
      <label for="nbJours">nb jours</label>
      <input
        formControlName="nbJours"
        type="number"
        class="form-control"
        id="nbJours"
      />
    </div>

    <div class="form-group">
      <label for="tjmHt">tjm ht</label>
      <input
        formControlName="tjmHt"
        type="number"
        class="form-control"
        id="tjm"
      />
    </div>

    <div class="form-group">
      <label for="tva">tva</label>
      <input
        formControlName="tauxTva"
        type="number"
        class="form-control"
        id="tva"
      />
    </div>

    <div class="form-group">
      <label for="state">state</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let state of states" [value]="state">{{
          state
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea formControlName="comment" class="form-control" id="comment">
        {{ form.get("comment").value }}
      </textarea>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
